*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:sans-serif;
    font-size:14px;
  }
  
  body{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color:rgb(243,243,243);
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    display: flex;
    align-items:center;
    justify-content:start;
    width:60%;
    height: 100vh;
  }
  
  .phone {
    display: flex;
    align-items:center;
    justify-content:center;
    width:60%;
  }
  
  .phone img{
    height: 40rem;
  }
  .continue{
    display: flex;
    justify-content:space-around; /* vertical */
    align-items:center; /* horizontal */
    flex-direction: column;
    width:50%;
    height:40rem;
  }
  .profile-photo{
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 1rem;
  }
  .profile-photo img {
    border-radius: 50%;
    width: 100px;
    border: 0.5px solid lightgray;
  }
  
  .logo{
    width: 60%;
  }
  
  .group{
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
    background-color:white;
    width:100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
  }
  
  .group:nth-child(1){
    min-width: 19rem;
  }
  
  .login{
    background-color:#0095f6;
    color:white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 4px;
  }
  
  .logout{
    color:#0095f6;
    margin-top: 1rem;
  }
  
  .not-account{
    padding-bottom: 10px;
  }
  
  .link-blue{
    font-weight: bold;
    color:#0095f6;
  }
  .get-app{
    color:rgb(43, 41, 41);
    font-weight: bold;
    font-size: 14px;
  }
  .get-the-app{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width:100%;
    padding: 1rem 0;
  }
  
  .download{
    display: flex;
    width:100%;
    justify-content:space-evenly;
    align-items:center;
    padding:1rem;
  }
  
  .app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
    margin-bottom:20px;
  }
  
  .app-download:nth-child(1){
    background-image: url("img\\badge-app-store.png");
    
  }
  
  .app-download:nth-child(2){
    background-image: url("img\\google-play-badge.png");
  }

  @media(max-width:1024px){
    .wrapper{
      width:90%;
    }
  }
  
  @media(max-width:650px){
    .wrapper{
      width:90%;
    }
    .phone{
      display:none;
      
    }
    .continue{
      width:90%;
    }
    .logo{
      width: 200px;
    }
    .profile-photo img{
      width: 50px;
    }
    .login{
        font-size: 12px
    }
    .download{
        flex-direction: column;
    }
    .group{
        background-color: rgb(243,243,243);
        border: none;
    }
    .profile-photo img{
        width: 6rem;
    }
  }